<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar" class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand ms-2" href="/dashboard">
            <i class="bi bi-cup-hot-fill text-warning me-2"></i>Cantine Scolaire
        </a>
        <div class="ms-auto d-flex align-items-center gap-2">
            <span class="text-white-50 small" sec:authentication="name"></span>
            <form th:action="@{/auth/logout}" method="post" class="d-inline m-0">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit" class="btn btn-outline-light btn-sm">
                    <i class="bi bi-box-arrow-right me-1"></i>Déconnexion
                </button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>
